{% extends 'admin_base.html' %}
{% load static %}

{% block csslink %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block content %}
<div class="bg-gray-800 rounded-lg shadow-lg p-6">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-bold text-white-800">Admin Dashboard</h1>
            <div class="flex space-x-6">
              <button type="button" class="inline-flex justify-center rounded-md border border-gray-500 shadow-sm px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
                Apply Filter
              </button>
              <button type="button" class="inline-flex justify-center rounded-md border border-gray-500 shadow-sm px-4 py-2 bg-gray-700 text-sm font-medium text-gray-300 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
                Sales Report
                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
        </div>
    </div>
  
    <div class="grid grid-cols-4 gap-6 mt-5">
      <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Total Revenue</h2>
        <p class="text-4xl font-bold text-white">₹13,513.50</p>
        <p class="text-gray-400">-27.7% from previous period</p>
      </div>
      <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Total Orders</h2>
        <p class="text-4xl font-bold text-white">4</p>
        <p class="text-gray-400">-55.6% from previous period</p>
      </div>
      <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Completed Orders</h2>
        <p class="text-4xl font-bold text-white">2</p>
        <p class="text-gray-400">50.0% completion rate</p>
      </div>
      <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Average Order Value</h2>
        <p class="text-4xl font-bold text-white">₹3,378.38</p>
      </div>
      <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Total Discount Given</h2>
        <p class="text-4xl font-bold text-white">₹799.50</p>
      </div>
      <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Cancelled Orders</h2>
        <p class="text-4xl font-bold text-white">0</p>
        <p class="text-gray-400">0.0% cancellation rate</p>
      </div>
      <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Payment Methods</h2>
        <p class="text-4xl font-bold text-white">razorpay</p>
        <p class="text-gray-400">₹9,516.00</p>
      </div>
      <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Active Users</h2>
        <p class="text-4xl font-bold text-white">9</p>
        <p class="text-gray-400">Total non-blocked users</p>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-6 mt-5">
        <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Top Products</h2>
        <div class="grid grid-cols-1 gap-4">
            <div class="flex justify-between">
            <p>Artistry Modern Ethnic Cotton Yarn Dyed Motif Stripes Band...</p>
            <p>₹7995.00</p>
            </div>
            <div class="flex justify-between">
            <p>Men Black Spread Collar Printed Regular Fit Cotton Flatknit S...</p>
            <p>₹2499.00</p>
            </div>
            <div class="flex justify-between">
            <p>Rare Rabbit Shirt</p>
            <p>₹2220.00</p>
            </div>
        </div>
        </div>
        <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Recent Orders</h2>
        <div class="grid grid-cols-1 gap-4">
            <div class="flex justify-between">
            <p>#d866f2</p>
            <p>₹3198.00</p>
            </div>
            <div class="flex justify-between">
            <p>#d8601a</p>
            <p>₹6318.00</p>
            </div>
            <div class="flex justify-between">
            <p>#d859ef</p>
            <p>₹1599.00</p>
            </div>
            <div class="flex justify-between">
            <p>#d857a4</p>
            <p>₹2398.50</p>
            </div>
        </div>
        </div>
        <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Top Categories</h2>
        <div class="grid grid-cols-1 gap-4">
            <div class="flex justify-between">
            <p>Shirt</p>
            <p>4</p>
            </div>
        </div>
        </div>
        <div class="bg-gray-700 border-2 border-gray-600 rounded-lg p-6">
        <h2 class="text-gray-300 font-semibold mb-4">Top Brands</h2>
        <div class="grid grid-cols-1 gap-4">
            <div class="flex justify-between">
            <p>Calvin</p>
            <p>3</p>
            </div>
            <div class="flex justify-between">
            <p>Rare Rabbit</p>
            <p>1</p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}